body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    border: 1px solid gold;
}


.header {
    text-align: center;
    background: white;
    height: auto;
    width: auto;
    border: 1px solid black;
    margin: 0 78px 0 78px;
}

.ul1 li {
    display: inline-block;
    margin: 60px;
    text-align: center;
    line-height: 10px;
    border: 1px solid red;
    font-size: 10px;
}

header a:hover {
    color: green;
}

.articles {
    padding: 0px;
    width: 100%;
    height: auto;

}

.ul2 li {
    width: 420px;
    height: auto;
    display: inline-block;
    border: 1px solid green;
}

h2 {
    font-size: 25px;
    border: 1px solid blue;
}

.article_title {
    font-size: 25px;
}


.article {
    width: 420px;
    height: auto;
    padding: 0px;
    margin: 0 auto;
    display: inline-block;
    }
    

.article_img {
    width: 100%;
}

.article_hash {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.article_title {
    font-size: 12px;
}

.article_discription {
    text-align: justify;
    font-size: 12px;
}

.button {
    width: 164px;
    height: 60px;
    text-align: center;
}