body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}


.header {
    text-align: center;
    background: white;
    height: auto;
    width: auto;
}

.ul1 {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.ul1 li {
    padding: 45px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.header1 {
    margin: 32px 0 57px 120px
}

.header2 {
    margin: 32px 0 57px 0
}


.header3 {
    margin: 32px 0 57px 0
}


.header4 {
    margin: 32px 120px 57px 0
}



header a:hover {
    color: green;
}

.articles {
    padding: 0px;
    width: 100%;
    height: auto;
}

.ul2 {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.ul2 li {
    width: 420px;
    height: auto;
    display: inline-block;
}
    
    
h2 {
    font-size: 24px;
}

.article_title {
    font-size: 24px;
}
    
.article1 {
    margin-right: 60px;
    margin-bottom: 138px;
}

.article2 {
    margin-right: 0;
    margin-bottom: 138px;
}

.article3 {
    margin-right: 60px;
    margin-bottom: 144px;
}

.article4 {
    margin-right: 0;
    margin-bottom: 144px;
}

.article5 {
    margin-right: 60px;
}

.article6 {
    margin-right: 0;
}


.article_img {
    width: 100%;
}

.article_hash {
    font-size: 12px;
    margin-bottom: 10px;
}

.article_title {
    font-size: 24px;
}

.article_discription {
    text-align: justify;
    font-size: 12px;
}

.button {
    margin-top: 55px;
    margin-bottom: 72px;
    margin-left: 592px;
    margin-right: auto;
    width: 164px;
    height: 60px;
    font-size: 16px;
}